header {
  width: 100%;
  height: 75px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 12px;
}
header .header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
header .header .list-item a {
  text-decoration: none;
  font-family: "Bebas neue", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  color: rgb(87, 25, 41);
  padding: 60px;
}
header .header .list-item-dropdown a {
  text-decoration: none;
  font-family: "Bebas neue", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  color: rgb(87, 25, 41);
  padding: 60px;
}
header .header .list-item-logo a {
  font-size: 34px;
  padding: 12px 24px;
  font-family: "Bebas neue", sans-serif;
  font-size: 34px;
  padding: 12px 24px;
}
header .list-item-dropdown {
  position: relative;
}
header .list-item-dropdown .list-item-dropdown:hover .dropdown-container {
  display: flex;
}
header .dropdown-container {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: rgb(87, 25, 41);
  color: white;
  padding: 20px;
  flex-direction: column;
  width: 100px;
  border-radius: 8px;
}
header .dropdown-container li {
  border-right: unset;
  padding: 12px 0px;
  border-bottom: 1px solid rgb(138, 46, 74);
  font-size: 14px;
  align-items: center;
}
header .dropdown-container li:last-of-type {
  border-bottom: unset;
}
header #contacts .contacts ul {
  font-family: "Bebas neue", sans-serif;
}

#hero {
  width: 100%;
  height: 600px;
  background-image: url(../imagenes/pintura.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
}
#hero .hero h1 {
  display: flex;
  flex-direction: column;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 32px;
  padding: 0px 60px;
  justify-content: center;
  align-items: center;
}
#hero .hero p {
  font-size: 30px;
  font-weight: 60;
  padding: 0px 60px;
  margin: 10px;
  margin-bottom: 20px;
}
#hero .hero a {
  background-color: rgb(138, 46, 74);
  padding: 15px 20px;
  margin: 475px;
  border-radius: 8px;
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  width: 10px;
  cursor: pointer;
}
#hero #information {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 40px;
}
#hero #information information h2 {
  color: rgb(87, 25, 41);
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;
}
footer .footer img {
  justify-content: flex-start;
  object-fit: cover;
  width: 100px;
  padding: 0px 10px;
}
footer .footer a {
  background-color: rgb(138, 46, 74);
  padding: 15px 10px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
  margin: 10px;
}

/*# sourceMappingURL=main.css.map */
